{% extends 'base.html' %}
{% load crispy_forms_tags static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'movies/css/style.css' %}">
{% endblock style %}

{% block content %}
<div class="container my-3">
    <form class="mb-3" method="get">
        {{ form|crispy }}
    <input type="submit" value="Search" class="btn btn-primary btn-block">
    </form>
    {% if movies %}
    <div id="grid">
        {% for movie in movies %}
            <div class="grid-sizer"></div>
            <!-- Card -->
            <div class="grid-item">
                {% include 'partials/_card.html' %}
            </div>
        {% endfor %}

    </div>

    {% else %}
    <p>No movies for <strong>{{ request.GET.title }}.</strong></p>
    {% endif %}
</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'movies/js/movies.js' %}"></script>
{% endblock scripts %}