{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'partials/_alerts.html' %}
<div class="container my-3">

    {% if object_list %}
        <form method="GET" action="{% url 'movies:WatchListView' %}">

            <div class="form-row">
                <div class="form-group col-md-4 mb-0">
                    <label for="actor">Actor</label>
                    <input type="text" class="form-control" value="{{ request.GET.actor }}" name="actor"  id="actor" placeholder="Bradd Pit">
                </div>
                <div class="form-group col-md-4 mb-0">
                    <label for="genre">Genre</label>
                    <input type="text" value="{{ request.GET.genre }}" name="genre" class="form-control" id="genre" placeholder="Comedy">
                </div>
                <div class="form-group col-md-4 mb-0">
                    <label for="watched">Watched?</label>
                    <select name="watched" class="form-control" id="watched">
                    <option {% if request.GET.watched == "True" %}selected{% endif %} value="True">Yes</option>
                    <option {% if request.GET.watched == "False" %}selected{% endif %} value="False">No</option>
                    </select>
                </div>
            </div>
            <input type="submit" value="Filter" class="btn btn-secondary btn-block my-3">
        </form>
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Movie Title</th>
            <th scope="col">Added</th>
            <th scope="col">Watched</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in object_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ movie.movie_title }}</td>
                <td>{{ movie.added }}</td>
                <form method="POST" action="{% url 'movies:update_watchlist_item' movie.movie_id %}">{% csrf_token %}
                    <td>
                        <div class="input-group">
                            <select class="custom-select" name="watched">
                              <option {% if movie.watched %}selected{% endif %} value="True">True</option>
                              <option {% if not movie.watched %}selected{% endif %} value="False">False</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <input class="btn btn-success" type="submit" value="Update">
                    </td>
                </form>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailModal{{ movie.pk }}">
                        Details
                    </button>
                </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="detailModal{{ movie.pk }}" tabindex="-1" role="dialog" aria-labelledby="detailModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="detailModalTitle">Movie Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <h1>{{ movie.movie_title }}</h1>
                    <p>Actors:</p>
                    <p>{{ movie.movie_actors }}</p>
                    <p>Genre(s):</p>
                    <p>{{ movie.movie_genre }}</p>
                    <img src="{{ movie.movie_poster }}" alt="">
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
        </tbody>
        </table>

    {% else %}
    <p>No movies for <strong>{{ request.GET.title }}.</strong></p>
    {% endif %}

</div>

  

{% endblock content %}